<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Test!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
       <nav no_class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <span><strong>
          <%= link "Logo", to: page_path(@conn, :index), style: "text-decoration:none; color:black" %>
          </strong></span>
          <%= link "| Contact", to: contact_path(@conn, :new)%>
          <%= link "| Users", to: user_path(@conn, :index)%>
          <%= link "| Rooms", to: room_path(@conn, :index)%>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= if @user_signed_in? do %>
            <span> Hi,<%= @current_user.name %></span>
            <%= link "Sign out", to: session_path(@conn, :delete), method: :delete%>
          <% else %>
            <%= link "Register", to: registration_path(@conn, :new) %>
            or
            <%= link "Signin", to: session_path(@conn, :new)%>
          <% end %>
        </ul>
      </nav>
      <br/>
      <small><small><%= js_view_name(@view_module, @view_template) %></small></small>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
